<!-- <mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav> -->
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-4">
        <mat-card>
          <h2 class="mat-title">Add Store</h2>
          <h2 class="mat-caption mat-body-1">add a new store</h2>
          <hr>
          <form (ngSubmit)="addStore(addNewStoreForm.value, $event)" [formGroup]="addNewStoreForm">
            <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Enter Store Name" type="text" formControlName="name" [formControl]="addNewStoreForm.controls['name']">
                  <mat-error *ngIf="addNewStoreForm.controls['name'].invalid">Name Is Required</mat-error>
                </mat-form-field>
              
                <button [disabled]="!addNewStoreForm.valid" mat-raised-button type="submit" color="primary">
                  <mat-icon>add</mat-icon> Add
                </button>
            </div>          
          </form>
        </mat-card>
      </div>
      <div class="col-md-8">
        <mat-card>
          <h2 class="mat-title">Stores 
            <a routerLink="/adminsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>   
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">list of all stores</h2>
          <hr>
          <table class="mat-body-1 table-no-border table table-stripped table-hover">
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let store of allStores">
                <td>{{store.name}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>
<!-- </mat-sidenav-container> -->