<!-- <h1>Hello</h1>
<button mat-raised-button color="primary" (click)="onNoClick()">No</button>
<button mat-raised-button color="primary" (click)="onYesClick()">Yes</button>

 -->

<h5 mat-dialog-title>Remove {{data.name}}</h5>
<div mat-dialog-content>
  <p>Type <code>yes</code> and press <code>OK</code></p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button color="primary" [disabled]="data.animal != 'yes'" [mat-dialog-close]="data.animal" cdkFocusInitial>OK</button>
</div>