<!-- <mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav> -->
  <div class="progress-loader" [hidden]="loading">

    <mat-progress-spinner 
      [mode]="mode"
      [color]="color"
      [value]="value"
      [strokeWidth]="strokeWidth"
      [diameter]="diameter"
    >
    </mat-progress-spinner>
 
  </div>
  <div class="example-scrolling-content mat-body-1" *ngIf="!itemDetailFlag && !editProductFlag">
    <div class="row">
      <div class="col-md-3">
        <mat-card>
          <h2 class="mat-title">Add Product</h2>
          <h2 class="mat-caption mat-body-1">Add a new product</h2>
          <hr>
          <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)" >
            <div class="example-container">
              <mat-form-field>
                <input matInput placeholder="Name" type="text" formControlName="name" [formControl]="addProductForm.controls['name']">
                <mat-error *ngIf="addProductForm.controls['name'].hasError('required')">Name Is Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Category" [formControl]="addProductForm.controls['category']" (selectionChange)="selectCategory($event)" formControlName="category" ngDefaultControl>
                  <mat-option [value]="">
                    none
                  </mat-option>
                  <mat-option *ngFor="let item of allCategories" [value]="item._id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select placeholder="Sub Category" [formControl]="addProductForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
                  <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select (selectionChange)="multiSelectStore($event)" placeholder="Stores" [formControl]="toppings" multiple>
                  <mat-select-trigger>
                    <span *ngFor="let item of toppings.value; let i=index">
                      <span *ngIf="i===0">{{item.name}}</span>
                    </span>
                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                      (+{{toppings.value.length - 1}} others)
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Price" type="number" formControlName="price" [formControl]="addProductForm.controls['price']">
                <mat-error *ngIf="addProductForm.controls['price'].invalid">Price Is Required</mat-error>
              </mat-form-field>
              <mat-form-field *ngIf="addProductForm.controls['type'].value == 'Weighted'">
                <input matInput placeholder="Weight" type="number" formControlName="weight" [formControl]="addProductForm.controls['weight']">
                <mat-error *ngIf="addProductForm.controls['weight'].invalid">Weight Is Required</mat-error>
              </mat-form-field>
              <hr>
              <mat-radio-group (change)="getProductType($event)" class="example-radio-group" formControlName="type" [formControl]="addProductForm.controls['type']">
                <mat-radio-button class="example-radio-button" *ngFor="let type of productTypes" [value]="type">
                  {{type}}
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </form>
          <hr />
          <div class="example-container">
            <h2 *ngIf="selectedStores.length != 0" class="mat-title">Stock Values</h2>
            <h2 *ngIf="selectedStores.length != 0" class="mat-caption mat-body-1">enter stock values for stores</h2>
            <hr *ngIf="selectedStores.length != 0" />
            <mat-form-field *ngFor="let store of selectedStores; let i=index;">
              <input matInput (change)="changeStoreStocks($event, store)" placeholder="{{store.name}} Stock Value" type="number" value={{store.stock}} [(ngModel)]="store.stock">
            </mat-form-field>
            <button (click)="addProduct(addProductForm.value)" [disabled]="(!addProductForm.valid || selectedStores.length == 0)" mat-raised-button color="primary">Add Product</button>
          </div>
        </mat-card>          
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Products 
            <button mat-icon-button color="warn" (click)="goToPrint()" matTooltip="Print!"><mat-icon>print</mat-icon></button>
            <a *ngIf="authUser._id === 'admin'" routerLink="/admindashboard" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>   
            </a>
            <a *ngIf="authUser._id === 'deo'" routerLink="/deodashboard" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>   
            </a>

          </h2>
          <h2 class="mat-caption mat-body-1">list of all product(s)</h2>
          <hr>
          <div class="subtitles subheading-1">{{"Total Worth" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Total Stock Worth In Rs.">{{productTotalStock | number}} <strong>RS.</strong></span>
          </div>
          <div class="subtitles subheading-1 mt-5">{{"Total Weight" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Total Stock Worth In Rs.">{{productTotalWeight | number}} <strong>KG.</strong></span>
          </div>

          <hr>
          <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
          <mat-table [dataSource]="dataSource" matSort class="mat-body-1">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.name | capFilter}}</mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="category">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Category</mat-header-cell>
              <mat-cell *matCellDef="let row">{{row.categoryname}}</mat-cell>
            </ng-container>


            <!-- Customer Column -->
            <ng-container matColumnDef="weight">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Weight</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.weight === 'none'">&nbsp;</span>
                <span class="net-weight" matTooltip="Weight in KGs!" *ngIf="row.weight !== 'none'">{{row.weight | number}}</span>
              </mat-cell>
            </ng-container>
            <!-- Opening Balance Column -->
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Price</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="grand-total" matTooltip="Price in Rs.!">{{row.price | number}}</span>
              </mat-cell>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="stockvalue">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Stock Value</mat-header-cell>
              <mat-cell *matCellDef="let row" matTooltip="No of item avail.!">{{row.stockvalue | number}}</mat-cell>
            </ng-container>

                        <!-- Status Column -->
            <ng-container matColumnDef="stores">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Stores</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngFor="let store of row.stores; let i=index; let isLast=last;">
                  <strong>{{store.name}}:</strong>&nbsp;{{store.stock}}{{isLast ? '' : ','}}<br>
                </span>
              </mat-cell>
            </ng-container>


            <!-- Closing balance Column -->
            <ng-container matColumnDef="netweight">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Net Weight</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span *ngIf="row.netweight === 0">&nbsp;</span>
                <span class="net-weight" matTooltip="Net Weight in KGs!" *ngIf="row.netweight !== 0">{{row.netweight | number}}</span>
              </mat-cell>
            </ng-container>
            <!-- Closing balance Column -->
            <ng-container matColumnDef="networth">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Net Worth</mat-header-cell>
              <mat-cell *matCellDef="let row">
                <span class="grand-total" matTooltip="Net WOrth in Rs.!">{{row.networth | number}}</span>
              </mat-cell>
            </ng-container>

            <!-- Closing balance Column -->
            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
              <mat-cell *matCellDef="let row"> 
                <button *ngIf="authUser._id === 'admin'" mat-icon-button matTooltip="Edit!" color="warn" (click)="editProduct(row)"><mat-icon>edit</mat-icon></button>
                <button mat-icon-button matTooltip="Ledger!" color="warn" (click)="stockItemDeatils(row)"><mat-icon>assignment</mat-icon></button>
                <!-- <button *ngIf="authUser._id === 'admin'" mat-icon-button matTooltip="Remove!" color="warn" (click)="removeProduct(row)"><mat-icon>delete</mat-icon></button> -->
                <button *ngIf="authUser._id === 'admin'" mat-icon-button matTooltip="Remove!" color="warn" (click)="openDialog(row)"><mat-icon>delete</mat-icon></button>
              </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>

          <mat-paginator class="mat-body-1" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100, 500]" showFirstLastButtons></mat-paginator>
        </mat-card>        
      </div>
    </div>    
  </div>
  <div class="example-scrolling-content mat-body-1" *ngIf="itemDetailFlag && !editProductFlag">
    <div class="row">
      <div class="col-md-12">
        <mat-card>
          <h2 class="mat-title">{{selectedItem.name | uppercase}} 
            <button mat-icon-button color="warn" (click)="gotoPrint()"><mat-icon>print</mat-icon></button>
            <a (click)="hideItemDetails()" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">Detail of all debits/credits</h2>
          <hr>

          <div class="subtitles subheading-1">{{"Start Stock" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Start Stock Value">{{selectedItem.storeStocks | number}}</span>
          </div>
          <div class="subtitles subheading-1 mt-5">{{"End stock" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="End Stock Value">{{selectedItem.stockvalue | number}}</span>
          </div>
          <div class="subtitles subheading-1 mt-5">{{"price" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Price Per Unit">{{selectedItem.price | number}}&nbsp;<strong>RS.</strong></span>
          </div>
          <div *ngIf="selectedItem.type == 'Weighted'" class="subtitles subheading-1 mt-5">{{"weight" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Weight Per Unit">{{selectedItem.weight | number}}&nbsp;<strong>KG.</strong></span>
          </div>

          <div *ngIf="selectedItem.type == 'Weighted'" class="subtitles subheading-1 mt-5">{{"net weight" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Total Stock Weight In KG.">{{selectedItem.netweight | number}}&nbsp;<strong>KG.</strong></span>
          </div>
          <div class="subtitles subheading-1 mt-5">{{"net worth" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Total Stock Worth In Rs.">{{selectedItem.networth | number}}&nbsp;<strong>RS.</strong></span>
          </div>
          <div class="subtitles subheading-1 mt-5">{{"Category" | uppercase}}:&nbsp;
            <span class="mat-body-1 grand-total" matTooltip="Category Name">{{selectedItem.categoryname | capFilter}}</span>
          </div>


          <hr>
          <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
            <thead>
              <tr>
                <th>#</th>
                <th>Custom./Vend.</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Stock Value</th>
                <th>Ref.</th>
                <th>Ref. #</th>
                <th>Date/Time</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-cell" *ngFor="let item of itemDebitCredit; let i=index;" (click)="openLedgerDialog(item)">
                <td>{{i+1}}</td>
                <td *ngIf="item.customer">{{item.customer.name}}</td>
                <td *ngIf="!item.customer">&nbsp;</td>
                <td *ngIf="item.debit === null">&nbsp;</td>
                <td *ngIf="item.debit !== null">{{item.debit | number}}</td>
                <td *ngIf="item.credit === null">&nbsp;</td>
                <td *ngIf="item.credit !== null">{{item.credit | number}}</td>
                <td>{{item.stockvalue | number}}</td>
                <td *ngIf="item.dctype">{{item.dctype | uppercase}}</td>
                <td *ngIf="item.dcref">{{item.dcref}}</td>
                <td *ngIf="!item.dctype">&nbsp;</td>
                <td *ngIf="!item.dcref">&nbsp;</td>

                <td>{{item.createdat | date:'short'}}</td>
              </tr>
            </tbody>
            <hr>
          </table>
        </mat-card>
      </div>
    </div>    
  </div>

      <div class="example-scrolling-content mat-body-1" *ngIf="editProductFlag">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">Edit {{productToEdit.name}}
              <!-- <button mat-icon-button color="warn" (click)="hideEdit()" ><mat-icon>print</mat-icon></button> -->
              <a (click)="hideEdit()" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
                <mat-icon>arrow_back</mat-icon>
              </a>
            </h2>
<!--             <div class="pull-right mat-body-1"><span class="mat-title">Opening Balance:&nbsp;</span><span>{{selectedCustomer.opening | number}}</span></div> -->
            <h2 class="mat-caption mat-body-1">enter the customer details</h2>
            <hr>
            <!-- <button mat-raised-button (click)="saveEditProduct()" color="primary" matTooltip="Update"><mat-icon>send</mat-icon>Update</button> -->
            <form [formGroup]="editProductForm" >
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Name" type="text" formControlName="name" [formControl]="editProductForm.controls['name']">
                  <mat-error *ngIf="editProductForm.controls['name'].hasError('required')">Name Is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Category" [formControl]="editProductForm.controls['category']" (selectionChange)="selectCategory($event)" formControlName="category" ngDefaultControl>
                    <mat-option [value]="">
                      none
                    </mat-option>
                    <mat-option *ngFor="let item of allCategories" [value]="item._id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Sub Category" [formControl]="editProductForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
                    <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select (selectionChange)="multiSelectStore($event)" placeholder="Stores" [formControl]="toppings" multiple>
                    <mat-select-trigger>
                      <span *ngFor="let item of toppings.value; let i=index">
                        <span *ngIf="i===0">{{item.name}}</span>
                      </span>
                      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                        (+{{toppings.value.length - 1}} others)
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Price" type="number" formControlName="price" [formControl]="editProductForm.controls['price']">
                  <mat-error *ngIf="editProductForm.controls['price'].invalid">Price Is Required</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="editProductForm.controls['type'].value == 'Weighted'">
                  <input matInput placeholder="Weight" type="number" formControlName="weight" [formControl]="editProductForm.controls['weight']">
                  <mat-error *ngIf="editProductForm.controls['weight'].invalid">Weight Is Required</mat-error>
                </mat-form-field>
                <hr>
                <mat-radio-group (change)="getProductType($event)" class="example-radio-group" formControlName="type" [formControl]="editProductForm.controls['type']">
                  <mat-radio-button class="example-radio-button" *ngFor="let type of productTypes" [value]="type">
                    {{type}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </form>
            <div class="example-container">
              <h2 *ngIf="selectedStores.length != 0" class="mat-title">Stock Values</h2>
              <h2 *ngIf="selectedStores.length != 0" class="mat-caption mat-body-1">enter stock values for stores</h2>
              <hr *ngIf="selectedStores.length != 0" />
              <mat-form-field *ngFor="let store of selectedStores; let i=index;">
                <input matInput (change)="changeStoreStocks($event, store)" placeholder="{{store.name}} Stock Value" type="number" value={{store.stock}} [(ngModel)]="store.stock">
              </mat-form-field>
              <button (click)="saveEditProduct(editProductForm.value)" [disabled]="(!editProductForm.valid || selectedStores.length == 0)" mat-raised-button color="primary">Update Product</button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
<!-- </mat-sidenav-container> -->