<div class="progress-loader" [hidden]="loading">
  <mat-progress-spinner 
    [mode]="mode"
    [color]="color"
    [value]="value"
    [strokeWidth]="strokeWidth"    
    [diameter]="diameter"
  >
  </mat-progress-spinner>
</div>
<div class="example-scrolling-content mat-body-1">
  <div class="row">
    <div class="col-md-3">
      <div class="col-md-12">
        <mat-card>
          <h2 class="mat-title">  
            Add Invoice #{{invoiceId}}
          </h2>
          <h2 class="mat-caption mat-body-1">enter invoice details</h2>
          <hr>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Customer" aria-label="State" [matAutocomplete]="auto2" [formControl]="addCustomerForm.controls['customerCtrl']" id="customername">
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                <span>{{ state.name }}</span> |
                <small>{{state.address}}</small>
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Voucher #" type="text" [(ngModel)]="challanno"> 
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Bill #" type="text" [(ngModel)]="billno"> 
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="invoicedate" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint class="hint-date">e.g. yyyy-mm-dd</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Carriage Charges" type="number" [(ngModel)]="othercharges"> 
          </mat-form-field>

        </mat-card>
      </div>
      <div class="col-md-12 mt-20">
        <mat-card>
          <h2 class="mat-title">
            Selected Customer
          </h2>
          <h2 class="mat-caption mat-body-1">following is the selected customer</h2>
          <div class="grand-total" *ngIf="selectedCustomer"><span class="mat-title">Balance:</span> {{customerToUpdate[0]?.closingbalance | number}}</div>
          <hr>
          <div class="example-container customer-form" *ngIf="selectedCustomer">
            <mat-form-field>
              <input matInput disabled="true" placeholder="Enter Name" type="text" name="name" value="selectedCustomer.name" [(ngModel)]="selectedCustomer.name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter Address" type="text" name="address" value="selectedCustomer.address" [(ngModel)]="selectedCustomer.address">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter Phone" type="text" name="phone" value="selectedCustomer.phone" [(ngModel)]="selectedCustomer.phone">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter E-mail" type="text" name="email" value="selectedCustomer.email" [(ngModel)]="selectedCustomer.email">
            </mat-form-field>
          </div>       
        </mat-card>
      </div>
      <div class="col-md-12 mt-20">
        <add-product (addproductevent)="newProductAdded($event)"></add-product>
      </div>
    </div>
    <div class="col-md-9">
      <mat-card>
        <h2 class="mat-title">Invoice Details            
          <a routerLink="/invoice" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
            <mat-icon>arrow_back</mat-icon>
          </a>
        </h2>
        <h2 class="mat-caption mat-body-1">add new invoice</h2>
        <button mat-raised-button color="warn" (click)="addInvoice()" [disabled]="cartProducts.length == 0 || !selectedCustomer"> Cash Out</button>  
        <h5 class="pull-right mat-body-1" *ngIf="cartProducts.length == 0">Invoice Total:- <strong class="grand-total">{{0 | number}}</strong></h5>  
        <h5 class="pull-right mat-body-1" *ngIf="cartProducts.length != 0">Invoice Total:- <strong class="grand-total">{{cartTotal | number}}</strong></h5><br>
        <h5 class="pull-right mat-body-1 mb-5">Invoice Weight:- <strong class="grand-total">{{cartWeight | number}}</strong></h5>
        <hr>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Product" aria-label="State" [matAutocomplete]="auto" [formControl]="addInvoiceForm.controls['stateCtrl']">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="selectCartProduct(state)" *ngFor="let state of filteredStates | async" [value]="state.name">
              <span>{{ state.name }}</span>
              <small class="stock-indicator">| RS: </small>
              <small>{{state.price}}</small>
              <small class="stock-indicator">| KG: </small>
              <small>{{state.weight}}</small>

              <span *ngFor="let store of state.stores; let i=index;">
                <small class="stock-indicator"><span *ngIf="i===0">|&nbsp;</span>{{store.name}}:</small> 
                <small>{{store.stock}}<span *ngIf="i!==state.stores.length-1">,</span></small> 
              </span> 
              <small class="stock-indicator">| Brand:</small>
              <small class="default-color"> {{state.categoryname}}</small> 
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <table class="mat-body-1 table-no-border table-responsive table table-stripped table-hover">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Name</th>
              <th>Brand</th>
              <th>Weight</th>
              <th>Calc Weight</th>
              <th>Price</th>
              <th>Store</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of cartProducts">
              <td><input class="inputqty" matInput type="number" [(ngModel)]="product.cartquantity" (change)="changeQuantity(product.cartquantity, product)" value="{{product.cartquantity}}" /></td>
              <td>{{product.name}}</td>
              <td>{{product.categoryname}}</td>
              <td *ngIf="product.type === 'Weighted' && product.calcweight != 0">{{product.cartweight | number:'1.1-2'}}</td>
              <td *ngIf="product.type === 'Weighted' && product.calcweight == 0">{{product.weight | number:'1.1-3'}}</td>
              <td *ngIf="product.type !== 'Weighted'">N/A</td>
              <td *ngIf="product.type === 'Weighted'"><input class="input-field" matInput type="number" [(ngModel)]="product.calcweight" (change)="changeCalcWeight(product.calcweight, product)" value="{{product.calcweight}}" /></td>
              <td *ngIf="product.type !== 'Weighted'">N/A</td>
              <td><input class="input-field" matInput type="number" [(ngModel)]="product.cartprice" (change)="changePrice(product.cartprice, product)" value="{{product.cartprice}}" /></td>
              <td>
                <mat-form-field>
                  <mat-select placeholder="Select Store" (selectionChange)="setProductStore($event, product)" ngDefaultControl>
                    <mat-option *ngFor="let item of product.stores" [value]="item._id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
              <td>{{product.cartworth | number}}</td>
              <td>        
                <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteCartItem(i, cartProducts)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <mat-form-field class="example-full-width">
                  <textarea matInput [(ngModel)]="invoiceNotes" placeholder="Invoice Notes"></textarea>
                </mat-form-field>
              </td>

            </tr>
            <tr>
              <td colspan="8">
                <div class="pull-right price">
                  Invoice Weight:- <strong class="grand-total">{{cartWeight | number}}</strong>
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="8">
                <div class="pull-right price">
                  Other Charges:- <strong *ngIf="othercharges != null" class="grand-total">{{othercharges | number}}</strong><strong *ngIf="othercharges == null" class="grand-total">0</strong>
                </div>
              </td>
            </tr>

            <tr>
              <td colspan="8">
                
                <div class="pull-right price">
                  Grand Total:- <strong class="grand-total">{{cartTotal + othercharges | number}}</strong>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </mat-card>
    </div>
  </div>
</div>