<mat-card>
  <h2 class="mat-title">Add Employee 
  </h2>
  <h2 class="mat-caption mat-body-1">Add a new employee</h2>
  <form [formGroup]="addEmployeeForm" (ngSubmit)="addEmployee(addEmployeeForm.value)" >
    <div class="example-container">
      
      <mat-form-field>
        <input matInput placeholder="Name" type="text" formControlName="name" [formControl]="addEmployeeForm.controls['name']">
        <mat-error *ngIf="addEmployeeForm.controls['name'].invalid"><strong>Name</strong> Is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Address" type="text" formControlName="address" [formControl]="addEmployeeForm.controls['address']">
        <mat-error *ngIf="addEmployeeForm.controls['address'].invalid">Address Is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Email" type="email" formControlName="email" [formControl]="addEmployeeForm.controls['email']">
        <mat-error *ngIf="addEmployeeForm.controls['email'].invalid">E-mail Is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Phone" type="text" formControlName="phone" [formControl]="addEmployeeForm.controls['phone']">
        <mat-error *ngIf="addEmployeeForm.controls['phone'].invalid"><strong>Price</strong> Is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Salary" type="number" formControlName="salary" [formControl]="addEmployeeForm.controls['salary']">
        <mat-error *ngIf="addEmployeeForm.controls['salary'].invalid"><strong>Salary</strong> Is Required</mat-error>
      </mat-form-field>
      <button [disabled]="!addEmployeeForm.valid" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add</button>
      
    </div>
  </form>
</mat-card>
