<!-- <mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/cashtransfers"> 
          <mat-icon mat-list-icon>receipt</mat-icon> cash transfers
        </a>
      </mat-nav-list>


    </div>
  </mat-sidenav> -->
  <div class="example-scrolling-content mat-body-1" *ngIf="transferFlag">
    <mat-card>
      <h2 class="mat-title">Transfer Details 
        <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>   
        </button>
      </h2>
      <h2 class="mat-caption mat-body-1">Add New Cash Transfer</h2>
      <hr>
      <form [formGroup]="transferForm" (ngSubmit)="addTransfer(transferForm.value)" >
        
        <div class="example-container">
          <mat-form-field class="example-full-width">
            <mat-select (selectionChange)="fromAccountTypeChange($event.value)" placeholder="Select From Account Type" [formControl]="transferForm.controls['from']" ngDefaultControl>
              <mat-option *ngFor="let value of allFromAccTypes" [value]="value.type">
                {{value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter From Account" aria-label="State" [matAutocomplete]="auto3" [formControl]="transferForm.controls['fromaccount']">
            <mat-autocomplete #auto3="matAutocomplete">
              <mat-option (onSelectionChange)="selectFromAccount(state)" *ngFor="let state of fromAccountStates | async" [value]="state.name">
                <span>{{ state.name }}</span> |
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="selectedFromAccount !== null">Transfer From: {{selectedFromAccount.name}}</mat-hint>
          </mat-form-field>
          <hr />
          <mat-form-field class="example-full-width">
            <mat-select (selectionChange)="toAccountTypeChange($event.value)" placeholder="Select To Account Type" [formControl]="transferForm.controls['to']" ngDefaultControl>
              <mat-option *ngFor="let value of allToAccTypes" [value]="value.type">
                {{value.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter To Account" aria-label="State" [matAutocomplete]="auto4" [formControl]="transferForm.controls['toaccount']">
            <mat-autocomplete #auto4="matAutocomplete">
              <mat-option (onSelectionChange)="selectToAccount(state)" *ngFor="let state of toAccountStates | async" [value]="state.name">
                <span>{{ state.name }}</span> |
              </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="selectedToAccount !== null">Transfer To: {{selectedToAccount.name}}</mat-hint>
          </mat-form-field>

          <hr />

          <mat-form-field class="example-full-width">
              <input matInput formControlName="transferdate" [formControl]="transferForm.controls['transferdate']" (dateChange)="transferDateChange($event)" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-hint class="hint-date">e.g. yyyy-mm-dd</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Voucher #" type="text" formControlName="voucherno" [formControl]="transferForm.controls['voucherno']">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Amount" type="number" formControlName="amount" [formControl]="transferForm.controls['amount']">
            <mat-error *ngIf="transferForm.controls['amount'].invalid">Amount Is Required</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="transfernotes" [formControl]="transferForm.controls['transfernotes']" placeholder="Transfer Notes"></textarea>
          </mat-form-field>

          <button [disabled]="!transferForm.valid" mat-raised-button color="primary">Transfer</button>

        </div>
      </form>
    </mat-card>
  </div>
  <div class="example-scrolling-content mat-body-1" *ngIf="!transferFlag">
    <mat-card>
      
      <h2 class="mat-title">Cash Transfers 
        <button mat-icon-button color="warn" matTooltip="Add New Transfer!" (click)="goToEdit()">
          <mat-icon>add</mat-icon>
        </button>
        <a routerLink="/adminsettings" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goToEdit()">
          <mat-icon>arrow_back</mat-icon>   
        </a>
      </h2>
      
      <h2 class="mat-caption mat-body-1">Below are the cash transfers</h2>
      <hr>
      <div class="mat-body-1">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="transfernumber">
      <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transfernumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="voucher">
      <mat-header-cell *matHeaderCellDef> Voucher # </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.voucherno}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="toaccount">
      <mat-header-cell *matHeaderCellDef> To Account </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.toaccount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fromaccount">
      <mat-header-cell *matHeaderCellDef> From Account </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.fromaccount}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="transfer">
      <mat-header-cell *matHeaderCellDef> Notes </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.transfernotes}} </mat-cell>
    </ng-container>




    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

      
      </div>  

    </mat-card>
  </div>
<!-- </mat-sidenav-container> -->