<div class="example-scrolling-content">
  <div class="row">
    <div class="col-md-6">
      <mat-card>
        <mat-list>
          <h4 mat-subheader>Pending Accounts</h4>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let item of allAccounts" class="homelist mat-body-1">
            <h4 mat-line class="mat-title">{{item.name | uppercase}}</h4>
            <p mat-line class="list-line"><mat-icon>account_circle</mat-icon> {{item.customer.name | capFilter}} </p>
            <p mat-line [ngClass]="{'active': item.notice <= 0, 'list-line': true}"><mat-icon>alarm</mat-icon> {{item.expirydate | date}} </p>
          </mat-list-item>
          <button (click)="goToAccounts()" mat-button color="primary" class="mt-20"><mat-icon>search</mat-icon>VIEW ALL</button>
        </mat-list>
      </mat-card>
    </div>
    <div class="col-md-6">
      <mat-card>
        <mat-list>
          <h3 mat-subheader>Profit & Loss Account</h3>
          <mat-divider></mat-divider>
          <mat-list-item class="mat-body-1">
            <mat-icon mat-list-icon>receipt</mat-icon>
            <p mat-line>Net Sales</p>
            <h4 mat-line>{{totalInvoice | number:'1.1-2'}}</h4>
          </mat-list-item>
          <mat-list-item class="mat-body-1">
            <mat-icon mat-list-icon>payment</mat-icon>
            <p mat-line> Net Purchases</p>
            <h4 mat-line>{{totalPurchases | number:'1.1-2'}}</h4>
          </mat-list-item>
          <mat-list-item class="mat-body-1">
            <mat-icon mat-list-icon>store</mat-icon>
            <p mat-line>Net Stock</p>
            <h4 mat-line>{{totalStockValue | number:'1.1-2'}}</h4>
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item class="mat-body-1">
            <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
            <p mat-line>Gross Profit</p>
            <h4 mat-line>{{totalInvoice - totalPurchases - totalStockValue | number:'1.1-2'}}</h4>
          </mat-list-item>

        </mat-list>

      </mat-card>
    </div>

  </div>
</div>