  <div class="progress-loader" [hidden]="loading">

    <mat-progress-spinner 
      [mode]="mode"
      [color]="color"
      [value]="value"
      [strokeWidth]="strokeWidth"
      [diameter]="diameter"
    >
    </mat-progress-spinner>
 
  </div>
  <div class="example-scrolling-content mat-body-1">
    <div class="row">
      <div class="col-md-3">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">  
              Purchase Details
            </h2>
            <h2 class="mat-caption mat-body-1">add purchase details</h2>
            <hr>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Enter Customer" aria-label="State" [matAutocomplete]="auto2" [formControl]="addCustomerForm.controls['customerCtrl']">
              <mat-autocomplete #auto2="matAutocomplete">
                <mat-option (onSelectionChange)="selectCustomer(state)" *ngFor="let state of customerStates | async" [value]="state.name">
                  <span>{{ state.name }}</span> |
                  <small>{{state.address}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Voucher #" type="text" [(ngModel)]="challanno"> 
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Bill #" type="text" [(ngModel)]="billno"> 
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput [(ngModel)]="purchasedate" [matDatepicker]="picker" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-hint class="hint-date">e.g. yyyy-mm-dd</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Carriage Charges" type="number" [(ngModel)]="othercharges"> 
            </mat-form-field>
          </mat-card>
        </div>
        <div class="col-md-12 mt-20">
          <mat-card>
            <h2 class="mat-title">
              Selected Customer
            </h2>
            <h2 class="mat-caption mat-body-1">following is the selected customer</h2>
            <div class="grand-total" *ngIf="selectedCustomer"><span class="mat-title">Balance:</span> {{customerToUpdate[0]?.closingbalance | number}}</div>
            <hr>
            <div class="example-container customer-form" *ngIf="selectedCustomer">
              <mat-form-field>
                <input matInput disabled="true" placeholder="Enter Name" type="text" name="name" value="selectedCustomer.name" [(ngModel)]="selectedCustomer.name">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Address" type="text" name="address" value="selectedCustomer.address" [(ngModel)]="selectedCustomer.address">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter Phone" type="text" name="phone" value="selectedCustomer.phone" [(ngModel)]="selectedCustomer.phone">
              </mat-form-field>
              <mat-form-field>
                <input matInput placeholder="Enter E-mail" type="text" name="email" value="selectedCustomer.email" [(ngModel)]="selectedCustomer.email">
              </mat-form-field>
            </div>       
          </mat-card>
        </div>
      </div>
      <div class="col-md-9">
        <mat-card>
          <h2 class="mat-title">Add Purchase #{{purchaseId}}           
            <a routerLink="/purchase" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right">
              <mat-icon>arrow_back</mat-icon>
            </a>
          </h2>
          <h2 class="mat-caption mat-body-1">add a new purchase</h2>
          <button mat-raised-button color="warn" (click)="addPurchase()" [disabled]="cartProducts.length == 0 || !selectedCustomer"> Bill Out</button>  
          <h5 class="pull-right mat-body-1" *ngIf="cartProducts.length == 0">Purchase Total:- <strong>{{0}}</strong></h5>  
          <h5 class="pull-right mat-body-1" *ngIf="cartProducts.length != 0">Purchase Total:- <strong>{{cartTotal | number:'1.1-2'}}</strong></h5><br>
          <h5 class="pull-right mat-body-1 mb-5">Purchase Weight:- <strong class="grand-total">{{cartWeight | number:'1.1-2'}}</strong></h5>
          <hr>
          <form *ngIf="newProductFlag" (ngSubmit)="addNewProduct(addProductForm.value)" [formGroup]="addProductForm">
            <mat-form-field>
              <input matInput placeholder="Enter Product Name" type="text" formControlName="name" [formControl]="addProductForm.controls['name']">
              <mat-error *ngIf="addProductForm.controls['name'].invalid">Name Is <strong>Required</strong></mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Select Stores" [formControl]="addProductForm.controls['formstores']" multiple>
                <mat-select-trigger>
                  <span *ngFor="let item of addProductForm.controls['formstores'].value; let i=index">
                    <span *ngIf="i===0">{{item.name}}</span>
                  </span>
                  <span *ngIf="addProductForm.controls['formstores'].value?.length > 1" class="example-additional-selection">
                    (+{{addProductForm.controls['formstores'].value.length - 1}} others)
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let topping of newProductStores" [value]="topping">{{topping.name}}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select Product Type" [formControl]="addProductForm.controls['type']" formControlName="type" ngDefaultControl>
                <mat-option *ngFor="let item of productTypes" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter Product Price" type="number" formControlName="price" [formControl]="addProductForm.controls['price']">
                <mat-error *ngIf="addProductForm.controls['price'].invalid">Price Is Required</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select Product Category" [formControl]="addProductForm.controls['category']" (selectionChange)="selectSubCategory($event)" formControlName="category" ngDefaultControl>
                <mat-option [value]="">
                  none
                </mat-option>
                <mat-option *ngFor="let item of allCategories" [value]="item._id">
                  {{item.name}}
                </mat-option>

              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select Sub Category" [formControl]="addProductForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
                <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                  {{item.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="addProductForm.controls['type'].value == 'Weighted'">
              <input matInput placeholder="Enter Product Weight" type="number" formControlName="weight" [formControl]="addProductForm.controls['weight']">
              <mat-error *ngIf="addProductForm.controls['weight'].invalid">Weight Is Required</mat-error>
            </mat-form-field>
            <button type="submit" [disabled]="!addProductForm.valid" mat-raised-button color="primary">Add Product</button>
            <button mat-raised-button (click)="closeAddProduct()" color="warn">Close</button>
            <hr>
          </form>
          

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Keyword" aria-label="State" [matAutocomplete]="auto" [formControl]="addInvoiceForm.controls['stateCtrl']">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option (onSelectionChange)="selectCartProduct(state)" *ngFor="let state of filteredStates | async" [value]="state.name">
                <span>{{ state.name }}</span>
                <small class="stock-indicator">| Rs: </small>
                <small>{{state.price}}</small>
                <small class="stock-indicator">| KG: </small>
                <small>{{state.weight}}</small>
                <span *ngFor="let store of state.stores; let i=index;">
                  <small class="stock-indicator"><span *ngIf="i===0">|&nbsp;</span>{{store.name}}:</small> 
                  <small>{{store.stock}}<span *ngIf="i!==state.stores.length-1">,</span></small> 
                </span>
                <small class="stock-indicator">| Brand:</small>
                <small class="default-color"> {{state.categoryname}}</small> 
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <table class="mat-body-1 table-no-border table-responsive table table-stripped table-hover">
            <thead>
              <tr>
                <th>Qty</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Weight</th>
                <th>Calc Weight</th>
                <th>Price</th>
                <th>Store</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of cartProducts; let i=index;">
                <td><input class="inputqty" matInput type="number" [(ngModel)]="product.cartquantity" (change)="changeQuantity(product.cartquantity, product)" value="{{product.cartquantity}}" /></td>
                <td>{{product.name}}</td>
                <td>{{product.categoryname}}</td>
                <td *ngIf="product.type === 'Weighted'">{{product.weight | number:'1.1-2'}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td *ngIf="product.type === 'Weighted'">{{product.calcweight | number:'1.1-2'}}</td>
                <td *ngIf="product.type !== 'Weighted'">N/A</td>
                <td><input class="input-field" matInput type="number" [(ngModel)]="product.cartprice" (change)="changePrice(product.cartprice, product)" value="{{product.cartprice}}" /></td>
                <td>
                  <mat-form-field>
                    <mat-select placeholder="Select Store" (selectionChange)="setProductStore($event, product)" ngDefaultControl>
                      <mat-option *ngFor="let item of newProductStores" [value]="item._id">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>{{product.cartworth | number:'1.1-2'}}</td>
                <td>        
                  <button mat-icon-button color="warn" matTooltip="Delete" (click)="deleteCartItem(i, cartProducts)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <mat-form-field class="example-full-width">
                    <textarea matInput [(ngModel)]="purchaseNotes" placeholder="Purchase Notes"></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td colspan="8">
                  <div class="pull-right price">
                    Purchase Weight:- <strong class="grand-total">{{cartWeight | number:'1.1-2'}}</strong>
                  </div>
                </td>                
              </tr>
              <tr>
                <td colspan="8">
                  <div class="pull-right price">
                    Other Charges:- <strong class="grand-total">{{othercharges | number:'1.1-2'}}</strong>
                  </div>
                </td>                
              </tr>

              <tr>
                <td colspan="8">
                  <div class="pull-right price">
                    Grand Total:- <strong class="grand-total">{{cartTotal + othercharges | number:'1.1-2'}}</strong>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </mat-card>
      </div>
    </div>
  </div>

