<mat-card>
  <h2 class="mat-title">Add Salary 
  </h2>
  <h2 class="mat-caption mat-body-1">Add a new salary</h2>
  <form [formGroup]="addSalaryForm" (ngSubmit)="addSalary(addSalaryForm.value)" >
    <div class="example-container">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Employee" aria-label="State" [matAutocomplete]="auto" [formControl]="addSalaryForm.controls['employee']" id="employeename">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (onSelectionChange)="selectEmployee(state)" *ngFor="let state of employeeStates | async" [value]="state.name">
            <span>{{ state.name }}</span> |
            <!-- <small>{{state.address}}</small> -->
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      
<!--       <mat-form-field>
        <input matInput placeholder="Employee" type="text" formControlName="employee" [formControl]="addSalaryForm.controls['employee']">
        <mat-error *ngIf="addSalaryForm.controls['employee'].invalid"><strong>Employee</strong> Is Required</mat-error>
      </mat-form-field> -->
      
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter Account" aria-label="State" [matAutocomplete]="auto2" [formControl]="addSalaryForm.controls['account']" id="accountname">
        <mat-autocomplete #auto2="matAutocomplete">
          <mat-option (onSelectionChange)="selectAccount(state)" *ngFor="let state of accountStates | async" [value]="state.name">
            <span>{{ state.name }}</span> |
            <!-- <small>{{state.address}}</small> -->
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


<!--       <mat-form-field>
        <input matInput placeholder="Account" type="text" formControlName="account" [formControl]="addSalaryForm.controls['account']">
        <mat-error *ngIf="addSalaryForm.controls['account'].invalid">Account Is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Date" type="date" formControlName="date" [formControl]="addSalaryForm.controls['date']">
        <mat-error *ngIf="addSalaryForm.controls['date'].invalid">date Is Required</mat-error>
      </mat-form-field> -->
      
      <mat-form-field class="example-full-width">
          <input matInput formControlName="date" [formControl]="addSalaryForm.controls['date']" [matDatepicker]="picker" placeholder="Choose a date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint class="hint-date">e.g. yyyy-mm-dd</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Notes" type="text" formControlName="notes" [formControl]="addSalaryForm.controls['notes']">
        <mat-error *ngIf="addSalaryForm.controls['notes'].invalid"><strong>Notes</strong> Is Required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput placeholder="Amount" type="number" formControlName="amount" [formControl]="addSalaryForm.controls['amount']">
        <mat-error *ngIf="addSalaryForm.controls['amount'].invalid"><strong>Amount</strong> Is Required</mat-error>
      </mat-form-field>
      <button [disabled]="!addSalaryForm.valid" mat-raised-button color="primary"><mat-icon>add</mat-icon> Add</button>
      
    </div>
  </form>
</mat-card>
