<mat-sidenav #sidenav mode="{{navMode}}" opened="true">
  <div class="sidenav-content">
    <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/admindashboard"> 
        <mat-icon mat-list-icon>home</mat-icon> Home
      </a>
    </mat-nav-list>    
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/products"> 
        <mat-icon mat-list-icon>shop</mat-icon> Products
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/invoice"> 
        <mat-icon mat-list-icon>receipt</mat-icon> Invoices
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/purchase"> 
        <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/adminsettings"> 
        <mat-icon mat-list-icon>settings</mat-icon> Settings
      </a>
    </mat-nav-list>
    
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/customers"> 
        <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/inwardpass"> 
        <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/outwardpass"> 
        <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
        <mat-icon mat-list-icon>receipt</mat-icon> Receipts
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/purchasepayment"> 
        <mat-icon mat-list-icon>receipt</mat-icon> Payments
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/invoicereturn"> 
        <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/purchasereturn"> 
        <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/cashtransfers"> 
        <mat-icon mat-list-icon>compare_arrows</mat-icon> cash transfers
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/employees"> 
        <mat-icon mat-list-icon>compare_arrows</mat-icon> Employees
      </a>
    </mat-nav-list>
    <mat-nav-list>
      <a class="mat-button" mat-list-item href="#/salaries"> 
        <mat-icon mat-list-icon>compare_arrows</mat-icon> Salaries
      </a>
    </mat-nav-list>

  </div>
</mat-sidenav>