          <mat-card>
            <h2 class="mat-title">Add Product</h2>
            <h2 class="mat-caption mat-body-1">Add a new product</h2>
            <hr>
            <form [formGroup]="addProductForm" (ngSubmit)="addProduct(addProductForm.value)" >
              <div class="example-container">
                <mat-form-field>
                  <input matInput placeholder="Name" type="text" formControlName="name" [formControl]="addProductForm.controls['name']">
                  <mat-error *ngIf="addProductForm.controls['name'].hasError('required')">Name Is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Category" [formControl]="addProductForm.controls['category']" (selectionChange)="selectCategory($event)" formControlName="category" ngDefaultControl>
                    <mat-option [value]="">
                      none
                    </mat-option>
                    <mat-option *ngFor="let item of allCategories" [value]="item._id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Sub Category" [formControl]="addProductForm.controls['subcategory']" formControlName="subcategory" ngDefaultControl>
                    <mat-option *ngFor="let item of allSubCategories" [value]="item._id">
                      {{item.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-select (selectionChange)="multiSelectStore($event)" placeholder="Stores" [formControl]="toppings" multiple>
                    <mat-select-trigger>
                      <span *ngFor="let item of toppings.value; let i=index">
                        <span *ngIf="i===0">{{item.name}}</span>
                      </span>
                      <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                        (+{{toppings.value.length - 1}} others)
                      </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Price" type="number" formControlName="price" [formControl]="addProductForm.controls['price']">
                  <mat-error *ngIf="addProductForm.controls['price'].invalid">Price Is Required</mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="addProductForm.controls['type'].value == 'Weighted'">
                  <input matInput placeholder="Weight" type="number" formControlName="weight" [formControl]="addProductForm.controls['weight']">
                  <mat-error *ngIf="addProductForm.controls['weight'].invalid">Weight Is Required</mat-error>
                </mat-form-field>
                <hr>
                <mat-radio-group (change)="getProductType($event)" class="example-radio-group" formControlName="type" [formControl]="addProductForm.controls['type']">
                  <mat-radio-button class="example-radio-button" *ngFor="let type of productTypes" [value]="type">
                    {{type}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </form>
            <hr />
            <div class="example-container">
              <h2 *ngIf="selectedStores.length != 0" class="mat-title">Stock Values</h2>
              <h2 *ngIf="selectedStores.length != 0" class="mat-caption mat-body-1">enter stock values for stores</h2>
              <hr *ngIf="selectedStores.length != 0" />
              <mat-form-field *ngFor="let store of selectedStores; let i=index;">
                <input matInput (change)="changeStoreStocks($event, store)" placeholder="{{store.name}} Stock Value" type="number" value={{store.stock}} [(ngModel)]="store.stock">
              </mat-form-field>
              <button (click)="addProduct(addProductForm.value)" [disabled]="(!addProductForm.valid || selectedStores.length == 0)" mat-raised-button color="primary">Add Product</button>
            </div>
          </mat-card>