<!-- <mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span class="example-spacer"></span>
  <span class="example-spacer mat-title logo-heading">Dewan International</span>
  <button mat-icon-button matTooltip="Logout!" color="warn" (click)="logout()" ><mat-icon>power_settings_new</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-fab-container mat-body-1">
  <mat-sidenav #sidenav mode="{{navMode}}" opened="true">
    <div class="sidenav-content">
      <span class="logo"><img src="assets/images/eyesteel.png" width="60px" /></span>
      <mat-nav-list>
        <a *ngIf="authUser._id === 'admin'" class="mat-button" mat-list-item href="#/admindashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
        <a *ngIf="authUser._id === 'deo'" class="mat-button" mat-list-item href="#/deodashboard"> 
          <mat-icon mat-list-icon>home</mat-icon> Home
        </a>
      </mat-nav-list>    
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/products"> 
          <mat-icon mat-list-icon>shop</mat-icon> Products
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoice"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoices
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchase"> 
          <mat-icon mat-list-icon>shopping_basket</mat-icon> Purchases
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/adminsettings"> 
          <mat-icon mat-list-icon>settings</mat-icon> Settings
        </a>
      </mat-nav-list>
      
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/customers"> 
          <mat-icon mat-list-icon>supervisor_account</mat-icon> Customers
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/inwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Inward Pass
        </a>
      </mat-nav-list>

      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/outwardpass"> 
          <mat-icon mat-list-icon>local_parking</mat-icon> Outward Pass
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereceipt"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Receipts
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasepayment"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Payments
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/invoicereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> Invoice Return
        </a>
      </mat-nav-list>
      <mat-nav-list>
        <a class="mat-button" mat-list-item href="#/purchasereturn"> 
          <mat-icon mat-list-icon>receipt</mat-icon> purchase Return
        </a>
      </mat-nav-list>

    </div>
  </mat-sidenav> -->

  
    <div class="example-scrolling-content mat-body-1" *ngIf="!customerDetailFlag && !editCustomerFlag">
      <div class="row">
        <div class="col-md-3">
          <add-customer (addcustomer)="refreshData($event)"></add-customer>      
        </div>
        <div class="col-md-9">
          <mat-card>
            <h2 class="mat-title">Customers
              <button mat-icon-button color="warn" (click)="goToPrintCustomers()" matTooltip="Print!"><mat-icon>print</mat-icon></button>  
              <button mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </h2>
            <h2 class="mat-caption mat-body-1">List of all customers</h2>
            <hr>
            <div class="example-header">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
              </mat-form-field>
            </div>
            <mat-table [dataSource]="dataSource" matSort class="mat-body-1">

              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="address">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Address</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.address}}</mat-cell>
              </ng-container>



              <ng-container matColumnDef="phone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.phone | capFilter}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="opening">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Opening</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  {{row.openingbalance | number}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="closing">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Closing</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span>{{row.closingbalance | number}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span *ngIf="row.status === 'debit'">
                    <mat-chip-list>
                      <mat-chip color="default" selected="true">{{"Debit" | uppercase}}</mat-chip>
                    </mat-chip-list>
                  </span>
                  <span *ngIf="row.status === 'credit'">
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true">{{"Credit" | uppercase}}</mat-chip>
                    </mat-chip-list>
                  </span>

                </mat-cell>
              </ng-container>


              <ng-container matColumnDef="datetime">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date/Time</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <span>{{row._id | date:'short'}}</span>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row"> 
                  <button *ngIf="authUser._id === 'admin'" mat-icon-button color="warn" (click)="editCustomer(row)"><mat-icon>edit</mat-icon></button>
                  
                </mat-cell>
              </ng-container>



              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row (click)="customerDebitCredit(row)" *matRowDef="let row; columns: displayedColumns;">
              </mat-row>
            </mat-table>

            <mat-paginator class="mat-body-1" #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>            
          </mat-card>
        </div>
      </div>
    </div>

    <div class="example-scrolling-content mat-body-1" *ngIf="customerDetailFlag && !editCustomerFlag">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">{{selectedCustomer.name | uppercase}}
              <button mat-icon-button color="warn" (click)="goToPrint()" ><mat-icon>print</mat-icon></button>
              <a (click)="hideCuatomerDetail()" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
              <!-- (click)="addInvoice()"> -->
                <mat-icon>arrow_back</mat-icon>
              </a>
            </h2>
            <div class="pull-right mat-body-1"><span class="mat-title">Opening Balance:&nbsp;</span><span>{{selectedCustomer.openingbalance | number}}</span></div>
            <h2 class="mat-caption mat-body-1">details of all debit/credit(s)</h2>
            <hr>
            <form [formGroup]="dateFilterForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input formControlName="fromdate" [formControl]="dateFilterForm.controls['fromdate']" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="From date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-5">
                  <mat-form-field>
                    <input formControlName="todate" [formControl]="dateFilterForm.controls['todate']" (dateInput)="addEvent('input2', $event)" (dateChange)="addEvent('change2', $event)" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="To date">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-1">
                  <button mat-icon-button matTooltip="Clear!" (click)="clearFilters()"><mat-icon>undo</mat-icon></button>
                </div>
              </div>
            </form>
            <hr>
            <table class="mat-body-1 table-no-border table table-stripped table-hover table-responsive">
              <thead>
                <tr>
                  <th>Date/Time</th>
                  <th>Debit</th>
                  <th>Credit</th>
                  <th>Closing Balance</th>
                  <th>Status</th>
                  <th>Ref. Type</th>
                  <th>Ref. Acc</th>
                  <th>Ref. #</th>
                  <th>Ref. Date</th>
                  <th>Voucher #</th>
                  <th>Bill #</th>
                </tr>
              </thead>
              <tbody>
                <tr class="mat-cell" *ngFor="let item of customerDebitCredits;" (click)="openLedgerDialog(item)">
                  <td>{{item._id | date:'shortDate'}}</td>
                  <td *ngIf="item.debit === null">&nbsp;</td>
                  <td *ngIf="item.debit !== null">{{item.debit | number}}</td>
                  <td *ngIf="item.credit === null">&nbsp;</td>
                  <td *ngIf="item.credit !== null">{{item.credit | number}}</td>
                  <td>{{item.closingbalance | number}}</td>
                  <td *ngIf="item.status === 'credit'">                  
                    <mat-chip-list>
                      <mat-chip color="primary" selected="true">{{"credit" | uppercase}}</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td *ngIf="item.status === 'debit'">                  
                    <mat-chip-list>
                      <mat-chip color="default" selected="true">{{"debit" | uppercase}}</mat-chip>
                    </mat-chip-list>
                  </td>
                  <td>{{item.dctype | capFilter}}</td>
                  <td *ngIf="item.dcrefname">{{item.dcrefname | capFilter}}</td>
                  <td *ngIf="!item.dcrefname">&nbsp;</td>
                  <td>{{item.dcref}}</td>
                  <td *ngIf="item.dctype === 'receipt'">{{item.receiptdate | date:'shortDate'}}</td>
                  <td *ngIf="item.dctype === 'invoice'">{{item.dcrefdate | date:'shortDate'}}</td>
                  <td *ngIf="item.dctype === 'purchase'">{{item.dcrefdate | date:'shortDate'}}</td>
                  <td *ngIf="item.dctype === 'payment'">{{item.paymentdate | date:'shortDate'}}</td>
                  <td *ngIf="item.challanno">{{item.challanno}}</td>
                  <td *ngIf="item.voucherno">{{item.voucherno}}</td>
                  <td>{{item.billno}}</td>
                </tr>
              </tbody>
            </table>
          </mat-card>
        </div>
      </div>    
    </div>

    <div class="example-scrolling-content mat-body-1" *ngIf="editCustomerFlag">
      <div class="row">
        <div class="col-md-12">
          <mat-card>
            <h2 class="mat-title">Edit Customer
              <a (click)="hideEdit()" mat-mini-fab color="primary" matTooltip="Go Back!" class="pull-right"> 
                <mat-icon>arrow_back</mat-icon>
              </a>
            </h2>
            <h2 class="mat-caption mat-body-1">enter the customer details</h2>
            <hr>
            <form [formGroup]="editCustomerForm" (ngSubmit)="udpateCustomerDetail(editCustomerForm.value)" >
              <div class="example-container">
                
                <mat-form-field>
                  <input matInput placeholder="Name" type="text" formControlName="name" [formControl]="editCustomerForm.controls['name']">
                  <mat-error *ngIf="editCustomerForm.controls['name'].invalid"><strong>Name</strong> Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Address" type="text" formControlName="address" [formControl]="editCustomerForm.controls['address']">
                  <mat-error *ngIf="editCustomerForm.controls['address'].invalid">Address Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Email" type="email" formControlName="email" [formControl]="editCustomerForm.controls['email']">
                  <mat-error *ngIf="editCustomerForm.controls['email'].invalid">E-mail Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Phone" type="text" formControlName="phone" [formControl]="editCustomerForm.controls['phone']">
                  <mat-error *ngIf="editCustomerForm.controls['phone'].invalid"><strong>Price</strong> Is Required</mat-error>
                </mat-form-field>
                
                <mat-form-field>
                  <input matInput placeholder="Fax" type="text" formControlName="fax" [formControl]="editCustomerForm.controls['fax']">
                  <mat-error *ngIf="editCustomerForm.controls['fax'].invalid"><strong>Fax</strong> Is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input matInput placeholder="Balance" type="number" formControlName="openingbalance" [formControl]="editCustomerForm.controls['openingbalance']">
                  <mat-error *ngIf="editCustomerForm.controls['openingbalance'].invalid"><strong>Balance</strong> Is Required</mat-error>
                </mat-form-field>
                <mat-form-field>
                  <mat-select placeholder="Balance Type" formControlName="obtype" [formControl]="editCustomerForm.controls['obtype']" ngDefaultControl>
                    <mat-option *ngFor="let item of balanceTypes" [value]="item">
                      {{item}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="editCustomerForm.controls['obtype'].invalid"><strong>Type</strong> Is Required</mat-error>
                </mat-form-field>

                <button [disabled]="!editCustomerForm.valid" mat-raised-button color="primary"><mat-icon>send</mat-icon> UPDATE</button>
                
              </div>
            </form>
          </mat-card>
        </div>
      </div>
    </div>
<!-- </mat-sidenav-container> -->